/* ADD BY PUVAAN */

body {
    margin: auto;
    padding: auto;
    font-family:"Montserrat-light", sans-serif;
  }
  
  .forms {
    position: absolute;
    padding: 3% 5%;
    top: 15%;
    left: 30%;
   
    max-height: 80%;
    display: grid;
    border: 2px solid black;
    background-color: white;
}

  
  .forms a {
    padding: 2% 0 0 0;
    font-size: 1rem;
    text-decoration: none;
    color: black;
  }
  
  .forms a:hover {
    font-size: 1.2rem;
    
    text-decoration: underline;
    color: blue;
  }
  
  
  .form-group label {
    padding: 10px 0 10px 0;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    text-align: left;
  }
  
  
  .form-group input {
  
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    border: 2px solid black;
    
    background: #313136;
    color: rgb(255 255 255 / 96%);
    transition: 0.3s;
  }
  
  .form-group input::placeholder {
    color: #aaa;
    font-weight: 300;
    font-size: 1rem;
  }
  
  .form-check {
    padding: 10px 0 10px 30px;
  }
  
  .submit_button {
    
    text-align: center;
  }
  
  
  /* image */
  
  .login_image img {
   height: 80%;
   width: 50%;
   position: relative;
   left: 25%;
  
  }
  
   img {
    width: 100%;
    height : 100%;
  }
  
  /* footer */
  
  .footer {
    background-color: #EAEAEA;
    text-align: center;
  }
  
  .footer-container-fluid {
    padding: 1.5% 8% 0.2%;
  }
  
  

  
  
  /* Loader */

  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
  }
  
  